<p style="color: green"><%= notice %></p>
<h1>Tuiter</h1>
<div id="tuits">
  <% @tuits.each do |tuit| %>
    <%= render tuit %>
    <p>
      <%= link_to "Show this tuit", tuit %>
    </p>
  <% end %>
</div>
<%= link_to "New tuit", new_tuit_path %>
<%== pagy_bootstrap_nav(@pagy) %>
