<div class="container-fluid my-3">
  <div class="row">
    <!-- Vertical NavBar -->
    <div class="col-md-3">
      <div class="ps-3 py-3 bg-light">
        <a class="brand" href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-search"></i> Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-bell"></i> Notifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-bookmark"></i> Bookmarks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-list"></i> Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user"></i> Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-ellipsis-h"></i> More</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <%= link_to "New Tuit", new_tuit_path, class:"btn btn-primary w-100" %>
    </div>
    <!-- Main Content -->
    <div class="col-md-6">
      <h1 class="text-center">Tuiter</h1>
      <p style="color: green"><%= notice %></p>
      <div id="tuits">
        <% @tuits.each do |tuit| %>
          <%= render tuit %>
        <% end %>
      </div>
    </div>
    <!-- Aside -->
    <aside class="col-md-3">
      <div class="mb-3 search">
        <%= form_with url: tuits_path, method: :get do |form|%>
          <%# search favicon %>
          <i class="fas fa-search"></i>
          <%= form.text_field :query_text, placeholder: 'Search tuits!', value: params[:query_text]%>
        <%end%>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Trends for You</h5>
          <ul class="list-unstyled">
            <li><a href="#">#SummerVibes</a></li>
            <li><a href="#">#TechTalks</a></li>
            <li><a href="#">#FoodieFaves</a></li>
            <li><a href="#">#TravelInspo</a></li>
            <li><a href="#">#MovieNights</a></li>
          </ul>
        </div>
      </div>
      <!-- Sample cards with fake tuits -->
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Latest Tweet</h5>
          <p class="card-text">Just had the most amazing meal at a new restaurant! #FoodieLife 🍔🍕🍰</p>
          <a href="#" class="card-link">Like</a>
          <a href="#" class="card-link">Retweet</a>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Another Tweet</h5>
          <p class="card-text">Excited to announce our upcoming tech webinar! Don't miss out on the latest trends. #TechTalks 🚀💻</p>
          <a href="#" class="card-link">Like</a>
          <a href="#" class="card-link">Retweet</a>
        </div>
      </div>
    </aside>
  </div>
</div>
<%# Show pagy only if there is no query text %>
<div class="d-flex justify-content-center">
  <% if params[:query_text].blank? %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>
